@use "layout/header";
@use "layout/header-architecture";
@use "layout/footer";
@use "pages/home";
@use "pages/architektura";
@use "pages/kontakt";
@use "components/buttons";
@use "abstracts/variables";



html {
    box-sizing: border-box;
    max-width: 100vw;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    background-color: variables.$col-secondary;
    font-family: variables.$font-primary;
    color: variables.$col-primary;
    margin: 0;
    font-weight: 300;
}


