<footer class="footer">
    <div class="footer__copy">&copy 2022 KP pro Regionální muzeum v Mikulově</div>
    <ul class="footer__list">
        <li class="footer__item"><a class="footer__link" href="/">Úvod</a></li>
        <span class="footer__links-spacer"></span>
        <li class="footer__item"><a class="footer__link" href="/architektura/">Architektura</a></li>
        <span class="footer__links-spacer"></span>
        <li class="footer__item"><a class="footer__link" href="/krajina-panstvi/">Krajina panství</a></li>
        <span class="footer__links-spacer"></span>
        <li class="footer__item"><a class="footer__link" href="/botanika/">Botanika</a></li>
        <span class="footer__links-spacer"></span>
        <li class="footer__item"><a class="footer__link" href="/badatelna/">Badatelna</a></li>
        <span class="footer__links-spacer"></span>
        <li class="footer__item"><a class="footer__link" href="/kontakt/">Kontakt</a></li>
        
    </ul>
</footer>