<header class="header-arch">
    <div class="header-arch__logo">
        <a href="/"><img class="header-arch__img" src="/images/logo-white.svg" alt="logo"></a>
    </div>

    <nav class="menu-arch">

        <input type="checkbox" class="menu-arch__checkbox" id="menu-arch-checkbox">
        <label for="menu-arch-checkbox" class="menu-arch__toggler"><i class="fa-solid fa-bars"></i></label>

        <ul class="menu-arch__list">
            <li class="menu-arch__item"><a href="/architektura/" class="menu-arch__link">architektura <i class="fa-solid fa-chevron-down menu-arch__chevron"></i></a>
                <ul class="menu-arch__dropdown">
                    <li class="menu-arch__dropdown-item"><a href="/architektura/renesancni-zahrada/" class="menu-arch__dropdown-link">Renesanční zahrada</a></li>
                    <li class="menu-arch__dropdown-item"><a href="/architektura/barokni-zahrada/" class="menu-arch__dropdown-link">Barokní zahrada</a></li>
                    <li class="menu-arch__dropdown-item"><a href="/architektura/zahrada-v-romantismu/" class="menu-arch__dropdown-link">Zahrada v romantismu</a></li>
                </ul>
            </li>

            <li class="menu-arch__item"><a href="/krajina-panstvi/" class="menu-arch__link">krajina panství <i class="fa-solid fa-chevron-down menu-arch__chevron"></i></a>
                <ul class="menu-arch__dropdown">
                    <li class="menu-arch__dropdown-item"><a href="#" class="menu-arch__dropdown-link">Barokní komponovaná krajina</a></li>
                    <li class="menu-arch__dropdown-item"><a href="#" class="menu-arch__dropdown-link">Mikulovská obora</a></li>
                </ul>
            </li>

            <li class="menu-arch__item"><a href="/botanika/" class="menu-arch__link">botanika <i class="fa-solid fa-chevron-down menu-arch__chevron"></i></a>
                <ul class="menu-arch__dropdown">
                    <li class="menu-arch__dropdown-item"><a href="#" class="menu-arch__dropdown-link">Co právě kvete?</a></li>
                    <li class="menu-arch__dropdown-item"><a href="#" class="menu-arch__dropdown-link">Růžová a botanická zahrada</a></li>
                    <li class="menu-arch__dropdown-item"><a href="#" class="menu-arch__dropdown-link">Botanické dědictví Mikulovska</a></li>
                </ul>
            </li>

            <li class="menu-arch__item"><a href="/badatelna/" class="menu-arch__link">badatelna</a></li>
            <li class="menu-arch__item"><a href="/kontakt/" class="menu-arch__link">kontakt</a></li>
        </ul>

        <ul class="lang-switcher-arch">
            <li class="lang-switcher-arch__item"><a href="url" class="lang-switcher-arch__link lang-switcher-arch__link--active">CZ</a></li>
            <span class="lang-switcher-arch__links-spacer"></span>
            <li class="lang-switcher-arch__item"><a href="url" class="lang-switcher-arch__link">EN</a></li>
            <span class="lang-switcher-arch__links-spacer"></span>
            <li class="lang-switcher-arch__item"><a href="url" class="lang-switcher-arch__link">DE</a></li>
        </ul>
    </nav>
</header>