<header class="header">
    <div class="header__logo">
        <a href="/"><img class="header__img" src="/images/logo.svg" alt="logo"></a>
    </div>

    <nav class="menu">

        <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
        <label for="menu-checkbox" class="menu__toggler"><i class="fa-solid fa-bars"></i></label>

        <ul class="menu__list">
            <li class="menu__item"><a href="/architektura/" class="menu__link">architektura <i class="fa-solid fa-chevron-down menu__chevron"></i></a>
                <ul class="menu__dropdown">
                    <li class="menu__dropdown-item"><a href="/architektura/renesancni-zahrada/" class="menu__dropdown-link">Renesanční zahrada</a></li>
                    <li class="menu__dropdown-item"><a href="/architektura/barokni-zahrada/" class="menu__dropdown-link">Barokní zahrada</a></li>
                    <li class="menu__dropdown-item"><a href="/architektura/zahrada-v-romantismu/" class="menu__dropdown-link">Zahrada v romantismu</a></li>
                </ul>
            </li>

            <li class="menu__item"><a href="/krajina-panstvi/" class="menu__link">krajina panství <i class="fa-solid fa-chevron-down menu__chevron"></i></a>
                <ul class="menu__dropdown">
                    <li class="menu__dropdown-item"><a href="#" class="menu__dropdown-link">Barokní komponovaná krajina</a></li>
                    <li class="menu__dropdown-item"><a href="#" class="menu__dropdown-link">Mikulovská obora</a></li>
                </ul>
            </li>

            <li class="menu__item"><a href="/botanika/" class="menu__link">botanika <i class="fa-solid fa-chevron-down menu__chevron"></i></a>
                <ul class="menu__dropdown">
                    <li class="menu__dropdown-item"><a href="#" class="menu__dropdown-link">Co právě kvete?</a></li>
                    <li class="menu__dropdown-item"><a href="#" class="menu__dropdown-link">Růžová a botanická zahrada</a></li>
                    <li class="menu__dropdown-item"><a href="#" class="menu__dropdown-link">Botanické dědictví Mikulovska</a></li>
                </ul>
            </li>

            <li class="menu__item"><a href="/badatelna/" class="menu__link">badatelna</a></li>
            <li class="menu__item"><a href="/kontakt/" class="menu__link">kontakt</a></li>
        </ul>

        <ul class="lang-switcher">
            <li class="lang-switcher__item"><a href="url" class="lang-switcher__link lang-switcher__link--active">CZ</a></li><span>|</span>
            <li class="lang-switcher__item"><a href="url" class="lang-switcher__link">EN</a></li><span>|</span>

            <li class="lang-switcher__item"><a href="url" class="lang-switcher__link">DE</a></li>
        </ul>
    </nav>
</header>