$col-primary: rgba(50, 50, 52);
$col-secondary: rgba(245, 243, 241);
$col-architecture: rgba(169, 97, 95);
$col-botanic: rgba(133, 162, 137);
$col-land: rgba(136, 158, 181);
$col-studyroom: rgba(148, 145, 139);

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Cormorant Garamond', serif;